.content{
  width: 88vw;
  position: relative;
  margin: auto;
}

.gallery-wrapper{
  background-color: black;
  display: flex;
  flex-direction: column;
  overflow: hidden;
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
  margin: 0;
  padding: 0;
}

.content:before{
  content: "";
	display: block;
  padding-top: 56.25%;
}



.gallery-upper-slide-warpper{
  height: 85%;
  width: 100%;
  overflow: hidden;
}

.gallery-lower-thumbnails-wrapper{
  height: 15%;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.slide{
  height: 100%;
  position: relative;
}

.slide-image{
  height: 100%;
  margin: auto;
  display: block;
}

.slide-caption{
  color: white;
  font-size: 20px;
  position: relative;
  top: -50px;
  margin-left: 20px;
}

.thumbnail{
  display: block;
  height: 100%;
  margin: 20px;
  text-align: center;
  float: left;
}

.thumbnail:hover{
  cursor: pointer;
}

.thumbnail-image{
  height: 100%;
}
